/* header */

.green {
  background-color: #1c2c0f;
}

.logo {
  font-family: Righteous, sans-serif;
  color: white;
}

.view-list-button {
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  color: #1c2c0f;
  background-color: white;
  height: 39px;
  width: 113px;
  border-radius: 4px;
  border: 1px solid #1c2c0f;
  margin-right: 0.8rem;
}

/* utility */

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.font14 {
  font-size: 0.875rem;
}

.font16 {
  font-size: 1rem;
}

.font18 {
  font-size: 1.125rem;
}

.line-22 {
  line-height: 1.375rem;
}

/* main */

ul {
  padding: 0;
  flex-basis: 100%;
  margin-top: 0;
}

.search-margin {
  margin-top: 2rem;
}

li {
  list-style-type: none;
  margin: 0;
}

.dark-grey {
  background-color: #cccaca;
}

.white {
  background-color: white;
}

.grey {
  background-color: #afafaf;
}

.full-height {
  min-height: 100vh;
}

p {
  font-family: roboto, sans-serif;
  margin: 0;
}

h1 {
  margin-left: 1.563;
  font-size: 2.375rem;
  font-weight: 400;
  letter-spacing: 0.1px;
}

h2 {
  font-family: Spectral, sans-serif;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 0;
}

h3 {
  font-family: Rubik, sans-serif;
  font-size: 1.5rem;
}

h4 {
  font-family: Rubik, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

h5 {
  font-family: Rubik, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  padding: 0 3rem;
  text-align: center;
  margin-bottom: 3rem;
}

img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 4px;
  margin-left: 1.2rem;
}

.no-players-styling {
  display: flex;
  justify-content: center;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
}

.search-box {
  height: 2.25rem;
  width: 15.938rem;
  border: 1px solid black;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  padding-left: 0.8rem;
}

.search-button {
  background-color: #1c2c0f;
  color: white;
  border: 1px solid #1c2c0f;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  width: 4.375rem;
}

.profile {
  background-color: white;
  height: fit-content;
  width: 20rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
}

.profile-bottom-margin {
  margin-bottom: 0.5rem;
}

.info-box-styling {
  background-color: #ececec;
  border-radius: 4px;
  border: 1px solid #afafaf;
  flex-basis: 100%;
  max-width: 20rem;
  height: 7.62rem;
  margin: 10px;
  padding-top: 12px;
  padding-left: 12px;
}

.h3-mobile {
  margin-top: 10px;
}

.add-button {
  width: 20rem;
  height: 2.25rem;
  background-color: #1c2c0f;
  color: white;
  border: 1px solid #1c2c0f;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}

.add-button-list-view {
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  color: #1c2c0f;
  background-color: white;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #1c2c0f;
  margin-right: 1rem;
}

.sort-styling {
  font-family: Rubik, sans-serif;
  font-size: 1rem;
  color: #6c757d;
  background-color: white;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #757373;
}

.players-view {
  margin-top: 1.5rem;
  max-width: 43.75rem;
}

.min-width {
  width: 100%;
}

.players-h2 {
  margin-top: 0;
}

.find-a-player-h2 {
  margin-top: 1rem;
}

/* Delete */
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(14, 13, 13, 0.753);
  justify-content: center;
  align-items: center;
  display: flex;
}

.delete-modal {
  background-color: white;
  height: 253px;
  width: 325px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.modal-button-delete {
  border-radius: 4px;
  height: 50px;
  width: 80px;
  color: white;
  border: 1px solid #dc3545;
  background-color: #dc3545;
  margin-left: 1.5rem;
}

.modal-button-cancel {
  border-radius: 4px;
  height: 50px;
  width: 80px;
  color: white;
  border: 1px solid #6c757d;
  background-color: #6c757d;
  margin-right: 1.5rem;
}

.button-container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.delete-button {
  color: #fe0e0e;
  font-size: 1.875rem;
  position: absolute;
  top: 0.7rem;
  right: 1rem;
}

@media screen and (max-width: 768px) {
  .h3-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    max-width: 700px;
  }

  .profile-styling {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  img {
    width: 160px;
    height: 150px;
    margin-left: 1.2rem;
    border-radius: 4px;
  }

  .image-container {
    justify-content: flex-start;
    flex-basis: 33%;
  }

  .info-box-styling {
    flex-basis: 50%;
  }

  .h3-mobile {
    display: none;
  }

  .h3-desktop {
    display: block;
    margin-top: 0;
  }

  .info-stretch-styling {
    flex-basis: 65%;
  }

  .add-button {
    width: 41.3rem;
  }

  .delete-button {
    top: 0;
    right: 1.2rem;
  }
}
