.cover {
  object-fit: cover;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.align-center {
  align-items: center;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.block {
  display: block;
}

.logo {
  font-family: Righteous, sans-serif;
  color: white;
}

.green {
  background-color: #1c2c0f;
}

.dark-grey {
  background-color: #cccaca;
}

.white {
  background-color: white;
}

.grey {
  background-color: #afafaf;
}

.full-height {
  height: 100vh;
}

p {
  font-family: roboto, sans-serif;
  margin: 0;
}

.font14 {
  font-size: 14px;
}

.font16 {
  font-size: 16px;
}

.font18 {
  font-size: 18px;
}

h1 {
  margin-left: 25px;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.1px;
}

h2 {
  font-family: Spectral, sans-serif;
  font-weight: 400;
  font-size: 36px;
  margin: 0;
  margin-top: 2rem;
}

h3 {
  font-family: Rubik, sans-serif;
  font-size: 24px;
}

.search-box {
  height: 36px;
  width: 255px;
  border: 1px solid black;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  padding-left: 0.8rem;
}

.search-button {
  background-color: #1c2c0f;
  color: white;
  border: 1px solid #1c2c0f;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  font-size: 16px;
  width: 70px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
  margin-left: 1.2rem;
}

.image-container {
  width: 100%;
}

.profile {
  margin-top: 1.5rem;
  background-color: white;
  height: fit-content;
  width: 20rem;
  border-radius: 0.5rem;
}

.profile-bottom-margin {
  margin-bottom: 0.5rem;
}

.info-box-styling {
  background-color: #ececec;
  border-radius: 4px;
  border: 1px solid #afafaf;
  flex-basis: 100%;
  max-width: 20rem;
  height: 7.62rem;
  margin: 10px;
  padding-top: 12px;
  padding-left: 12px;
}

.h3-mobile {
  margin-top: 10px;
}

h4 {
  font-family: Rubik, sans-serif;
  font-size: 24px;
  margin: 0;
}

.line-22 {
  line-height: 22px;
}

.add-button {
  width: 20rem;
  height: 36px;
  background-color: #1c2c0f;
  color: white;
  border: 1px solid #1c2c0f;
  border-radius: 4px;
  font-family: Rubik, sans-serif;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}

.view-list-button {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #1c2c0f;
  background-color: white;
  height: 39px;
  width: 113px;
  border-radius: 4px;
  border: 1px solid #1c2c0f;
  margin-right: 0.8rem;
}

.add-button-list-view {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #1c2c0f;
  background-color: white;
  height: 35px;
  width: 80px;
  border-radius: 4px;
  border: 1px solid #1c2c0f;
  margin-right: 7rem;
}

.players-view {
  margin-top: 2rem;
  max-width: 700px;
}

.players-h2 {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .h3-desktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    margin-top: 5rem;
    max-width: 700px;
  }

  .profile-styling {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  img {
    width: 160px;
    height: 150px;
    margin-left: 1.2rem;
    border-radius: 4px;
  }

  .image-container {
    justify-content: flex-start;
    flex-basis: 33%;
  }

  .info-box-styling {
    flex-basis: 50%;
  }

  .h3-mobile {
    display: none;
  }

  .h3-desktop {
    display: block;
    margin-top: 0;
  }

  .info-stretch-styling {
    flex-basis: 65%;
  }

  .add-button {
    width: 41.3rem;
  }
}
